*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.submission-and-forum{
    display: flex;
    flex-direction: column;
    height: var(--fullscreen-height);
    width: calc(var(--fullscreen-width) - var(--sidenav-width));
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    margin: 0;
    transition: var(--sidenav-transition-time);
}
.cock-img {
    height: 36px;
    width: 36px;
    border-radius: var(--logo-border-radius);
    border: var(--border);
    margin: 8px;
    margin-top: 18px;
}
.forum{
    display: flex;
    flex-direction: column;
    position: relative;
    width: max-content;
    height: 90vh;
    justify-content: left;
    align-items: center;
}
.submission-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: fit-content;
}
.topic-textarea{
    border-radius: var(--input-border-radius);
    border: var(--border);
    height: 50px;
    width: 900px;
    font-size: var(--input-font-size);
    padding: 18px;
    margin: 9px;
    margin-left: 21px;
    margin-right: 21px;
    resize: none;
    overflow-y: hidden;
}
.comment-textarea{
    border-radius: var(--input-border-radius);
    border: var(--border);
    height: 100px;
    width: 900px;
    font-size: var(--input-font-size);
    padding: 18px;
    margin: 9px;
    margin-left: 21px;
    margin-right: 21px;
    resize: none;
    overflow-y: hidden;
}
.topic{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: min-content;
    margin-top: 20px;
}
.comment-and-picture{
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: left;
    align-items: start;
}
.comment {
    height: fit-content;
    border-radius: var(--input-border-radius);
    border: var(--border);
    margin: 5px;
}
.comment-title-and-timestamp {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
    align-items: start;
}
.comment-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}


.comment-content {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.comment-timestamp {
    font-weight: lighter;
    font-size: 10px;
    color: var(--border-color);
    margin-right: 15px;
    margin-top: 20px;
    white-space: nowrap;
    align-self: right;
}

.button {
    font-weight: Bold;
    border-radius: 10px;
    background-color: var(--background-color); 
    color: black; 
    border: 2px solid var(--button-color);
    text-align: center;
    font-size: 14px;
    transition-duration: var(--button-transition-time);
    cursor: pointer;
    padding: 16px 32px;
    margin: 9px;
    margin-left: 21px;
    margin-right: 21px;
    width: 938px;
    padding: 18px;
}

.button:hover {
  background-color: var(--button-color);
  color: var(--background-color);
}